@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.bg-primary {
  background-color: #1F1F24;
}

.bg-secondary {
  background-color: #55565C;
}

.bg-primary-gradient {
  background-color: linear-gradient(to bottom, #666666, #1F1F24);
}
